<!DOCTYPE html>
<html lang="en">
<head>
    <link href="Libs/bootstrap.min.css" rel="stylesheet">
    <script src="Libs/bootstrap.bundle.min.js"></script>
    <script src="Libs/three.min.js"></script>
    <script src="Libs/handlebars.min.js"></script>
    <meta charset="UTF-8">
    <title> {{page_title}} </title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Parakeet</h1>
            </div>
        </div>
        <div class="row row-cols-auto g-5">
            {{#each model}}
                <div class="col">
                    <div class="card mb-3">
                        <img src="{{model.image}}" class="card-img-top" alt="{{model.name}}">
                        <div class="card-body">
                            <h4 class="card-title"> {{model.name}} </h4>
                            <p class="card-text"> {{model.description}} </p>
                            <a id="{{model.id}}" class="btn stretched-link"></a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>
</html>